#testimonials {
    margin: auto;
    width: 80%;
}

.quote-block {
    white-space: pre-wrap;
    margin: 20px;
}

.quote-icon {
    color: $highlightColor;
}

.author {
    color: $highlightColor;
    font-size: 13px;
}