//Variables
$mainColor: lightgrey;
$secondaryColor: #f6f6f6;
$highlightColor: #01adef;

$headerHeight: 15vh;
$footerHeight: 100px;


//Mixins
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
